@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Shrikhand&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor:pointer;
}
*{
    box-sizing: border-box;
}

.logo{
   font-family: 'Shrikhand';
}

 