@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

html{
    overflow-x: hidden;
}
 body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#F2F2F2;
    
}
*{
    box-sizing: border-box;
}
/*debut loader*/

.page_loader{
	display:flex;
	background-color:#F2F2F2;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	opacity:0;
	animation: page_loader 3s ease-in-out 0s 1 normal forwards;

}
@keyframes page_loader {
	0%,99% {
		opacity: 1;
		cursor:wait;
        position :fixed;
        z-index: 99;
	}

}

.page_loader div{
	position:relative;
	font-family:'Shrikhand' ;
	font-size:50px;
	text-align: center;
	margin-top:auto;
	margin-bottom: auto;


}

.oh{
    margin-left: auto;
    color:#FF79DA ;
    animation: oh 3s ease-out 0s 1 normal forwards;

}
@keyframes oh {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-48px);
       
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateX(0px);
	}
}

.my{
color:#9356DC ;
animation: my 3s ease-out 0s 1 normal forwards;
}
@keyframes my {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
       
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateY(0px);
	}
}

.food{
margin-right: auto;
color:#99E2D0;
animation: food 3s ease-out 0s 1 normal forwards;
}
@keyframes food {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
        
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateX(0px);
       
	}
}

/*fin loader*/

.logo_header{
    width: 100%;
    padding-top: 20px;
    padding-bottom:15px;    
}
h1,h2{
    font-size:25px;
    font-weight: 800;
    
}

p{
    font-size:18px;
    font-weight: 400;
    color:#999999;
}
header{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
}
.recherche_ville{
    width:100%;
    background-color:#E1E1E1; 
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0px 2px 5px 0px #C1C1C1;
  
} 
.recherche_ville input{
    border: none;
    background-color:#E1E1E1;
    font-weight: bold;
    padding: 10px;
    margin-left: 10px;
    
}
.reservation{
    padding:20px;  
}
.reservation h1{
    padding:0 20px;
}
.explore_resto{
    padding-bottom: 20px;
    padding-top:20px;  
}
.submit{
    color: #FFF;
    padding:20px 30px;
    font-weight: 600;
    border-radius: 30px;
    background: linear-gradient(to bottom right, #FF79DA ,#9356DC );
    border:none;
    box-shadow:-3px 5px 5px #C1C1C1;
    margin-bottom:20px;
}
.submit:hover{
    opacity:0.6;
    box-shadow:-3px 5px 5px hsl(0, 0%, 20%);

}
a:hover{
    opacity:0.6;
}
.fonctionnement{
    background-color:#FFF;
    width:100%;
    text-align: left;
    padding: 30px 30px 50px 20px;
    display:flex;
    flex-direction: column;
    align-content: space-around;   
}
.fonctionnement div{
    width:100%;
    background-color: #F2F2F2;
    padding: 25px 30px 25px 20px;
    margin:0 10px 20px 10px;
    font-weight: 600;
    border-radius: 25px;
    box-shadow:-3px 5px 5px #C1C1C1;
}
.fonctionnement div:hover{
    background-color:rgba(147, 86, 220,0.1);

}

.fonctionnement div:hover :nth-child(3){
    color:#9356DC;
}
.fonctionnement div:hover :nth-child(4){
    color:#9356DC;
}
.fonctionnement h1{
    margin-bottom: 30px;
}
.fa-circle{
    color:#9356DC;
    font-size:25px;
    position:relative;
    left:-35px;
}
.fa-1,.fa-2,.fa-3{
    color:#FFF;
    font-size:13px;
    position:relative;
    left:-55px;
    top:-5px;
    font-family: 'Roboto', sans-serif;
}
.fa-mobile-screen-button,.fa-ellipsis-vertical,.fa-bars,.fa-store{
    color:#999999;
    font-size:20px;
    position:relative;
    left:-20px;
} 
main{
    display:flex;
    flex-direction: column;
    padding:40px 20px 20px 20px;
}
main a{
    text-decoration: none;
    color:black;
}
.section{
    display:flex;
    flex-direction: column;
    width:100%;
    height:250px;
    position: relative;
    background-color: #FFF;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px; 
}
.section img{
    object-fit:cover;
    width:100%;
    height:180px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 10px;   
}
.la_palette_du_gout{
    object-position:0% 90%;  
}
.la_note_enchantee{
    object-position:0% 60%; 
}
.a_la_francaise{
    object-position:0% 90%;  
}
.le_delice-des_sens{
    object-position:0% 90%;
}
figure{
    width:100%;
    margin:0;
    position:relative;
}
figcaption{
    background-color:#99E2D0;
    color:#369e84;
    font-weight:600;
    text-align:center;
    border-radius: 0;
    padding-top: 6px;
    width:90px;
    height:30px;
    font-size:15px;
    position: absolute;
    right:10px;
    bottom:150px;    
}
.legende_carte{
    position: relative;
    width:100%;
    margin-top: 0;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size:18px;
    text-transform:lowercase;
}
.legende_carte:first-letter{
    text-transform: uppercase;
}
.fa-regular{
    position: absolute;
    bottom:20px;
    right:20px;
}
.fa-solid.fa-heart{
    position: absolute;
    bottom:20px;
    right:20px;
    color:transparent;
    opacity:0;
}
.fa-solid.fa-heart:active ,.fa-solid.fa-heart:hover{
    opacity:1;
    background:linear-gradient(to bottom right, #FF79DA,#9356DC);
    -webkit-text-fill-opacity:0;
    -webkit-background-clip:text;
    transition:all 3s;
    
    
    
}

footer{
    width:100%;
    display:flex;
    flex-direction: column;
    line-height:25px;
    background-color:#434343;
    color:#FFF;
    padding: 20px;
    margin-top: 40px; 
}
.logo_footer{
    height:15px;
    margin-bottom:15px;
    color:#FFF;
    filter: brightness(30);
    font-weight:bolder;    
}
footer i{
    font-size: 12px;
    margin-right: 10px;
}
.fa-utensils{
    margin-right:15px;
}
footer a{
    text-decoration: none;
    color:white;
}


@media screen and (min-width : 550px) and (max-width : 767px){

    .section{
        height:auto;
    }

    .section img{
        height: 300px;
    }
    figcaption{
        top:20px;
    }
    .fa-1,.fa-2,.fa-3{

        left:-55px;
    }
}
@media screen and (min-width : 768px)  {
    body{
        display: block;
    }
    main{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        
    }
    h1{
     width:100%;
    }
    .section {
       margin-bottom: 20px;
       margin-right: auto;
       margin-left: auto;
       width:40%;   
        
    }
    .fonctionnement div{
        width:60%;
        margin-left:auto ;
        margin-right:auto;
    }
    .fa-1,.fa-2,.fa-3{


        left:-55px;

    }
    .fa-circle{
        left:-35px;
    }
    footer{
        align-items: center;

    }

}
@media screen and (min-width : 992px)  {
    main{
        height:auto;
    }
    .fonctionnement {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fonctionnement h1{
        width:100%;  
    }
    .fonctionnement div{
        width:30%;
        text-align: start;
    }
    .fa-1,.fa-2,.fa-3{
        left:-50px;
    }
    .fa-circle{
        left:-30px;
    }
    footer{
        align-items:flex-end;
        flex-direction: row;
        margin-top:10%;
    }
    footer div{
        margin: 30px;

    }

} 
    

